#terminal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 50%;
    background-color: #000000ad;
    padding: 5px;
    overflow-x: auto;
    overflow-y: scroll;
    text-wrap: pretty;
    word-wrap: break-word;
}
#terminalPrompt {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #696969c9;
}
#terminalPromptArrow{
    color: rgb(60, 148, 219);
}
#terminalPromptTextBox{
    resize: none;
    width: calc(100vw - 32px);
    font-size: 14px;
    max-height: 30vh;
    border: none;
    outline: none;
    color:rgb(138, 207, 34);
    background-color: #00000000;

}